@model List<ContractorVehicleDetails>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Please see the contractors and their vehicles</h2>
</div>
